@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Righteous&display=swap");
@import "tailwindcss";

@theme {
  --font-cinzel: "Cinzel", sans-serif;
  --font-righteous: "Righteous", sans-serif;
}

body {
  @apply bg-amber-50;
}

::-webkit-scrollbar {
  @apply hidden;
}

/* ::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-amber-400 to-orange-600 rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-amber-200;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gradient-to-b from-orange-500 to-red-700;
} */

@layer components {
  /* button component */
  .solar-btn {
    @apply font-righteous relative inline-flex h-8 sm:h-15 items-center w-15 sm:w-24 lg:w-31 xl:w-36 font-medium sm:font-semibold text-xs sm:text-base md:text-lg lg:text-xl xl:text-2xl md:leading-5 justify-center my-5 rounded-md bg-[radial-gradient(circle,_rgba(255,200,100,0.5)_0%,_rgba(255,150,50,0.6)_60%,_rgba(50,50,50,1)_100%)]  text-white hover:text-orange-50 hover:bg-[radial-gradient(circle,_rgba(255,165,0,0.8)_0%,_rgba(255,69,0,0.9)_60%,_rgba(0,0,0,1)_100%)] hover:shadow-[0_0_20px_rgba(255,191,0,0.7)] cursor-pointer transition-all duration-100 hover:scale-110 active:scale-100;
  }

  /* card component */
  .card-image {
    @apply w-full cursor-pointer h-[300px] object-contain rounded-lg transition-transform duration-300 ease-in-out hover:opacity-85;
  }

  /* footer */
  .footer {
    @apply mt-10 py-5 h-auto relative flex flex-col justify-center items-center bg-[radial-gradient(circle,_rgba(255,165,0,0.8)_0%,_rgba(255,69,0,0.9)_60%,_rgba(0,0,0,1)_100%)];
  }

  .footer-image {
    @apply w-30;
  }

  .footer-text {
    @apply text-yellow-50 font-cinzel text-base md:text-lg lg:text-2xl font-medium h-10;
  }

  .secret-btn {
    @apply absolute cursor-pointer font-bold text-base right-2 bottom-2 
      w-8 h-8 flex items-center justify-center text-transparent
      bg-transparent hover:bg-gradient-to-r from-red-500 to-amber-400 
      hover:text-white rounded-lg animate-pulse transition-all duration-100;
  }

  .secret-form-container {
    @apply bg-white p-6 rounded-lg shadow-lg w-2xs sm:w-sm text-center border-3 border-amber-400;
  }

  .password-label {
    @apply text-lg sm:text-xl font-bold mb-3 inline-block;
  }

  .password-input-container {
    @apply relative w-full mb-4;
  }

  .password-input {
    @apply w-full border p-2 rounded-md mb-2 text-center sm:text-lg pr-9 focus:outline-amber-400;
  }

  .show-password {
    @apply absolute right-3 top-3 text-gray-500;
  }

  .error-msg {
    @apply text-red-500 text-sm sm:text-lg;
  }

  .form-btn-container {
    @apply mt-4 flex justify-center gap-2;
  }

  .form-btn {
    @apply cursor-pointer font-righteous text-white px-4 py-2 rounded-lg sm:text-xl;
  }

  .submit-btn {
    @apply bg-amber-500 hover:bg-amber-600;
  }

  .cancel-btn {
    @apply bg-gray-400 hover:bg-gray-500;
  }

  /* header */
  .list-container-header {
    @apply flex flex-wrap justify-center gap-6;
  }

  /* .list-item-container-header {
      @apply bg-linear-to-r from-white to-white
        hover:bg-[radial-gradient(circle,_closest-side,_#ffeb99,_#ff9f00)] 
          hover:shadow-[0_0_20px_rgba(255,191,0,0.7)] 
          rounded-lg transition-all duration-300;
    } */

  /* .list-item-header {
      @apply mt-10 w-100 text-center text-xl font-bold bg-linear-to-r from-amber-400 to-red-500 text-transparent bg-clip-text border-4 border-amber-400 
      rounded-full py-4 transition-all duration-300 hover:bg-amber-400 hover:text-amber-600;
    } */

  .list-item-header {
    @apply relative font-righteous inline-flex py-2 mt-10 mb-3 w-20 sm:w-45 md:w-55 lg:w-75 text-center text-base md:text-lg lg:text-2xl font-bold justify-center overflow-hidden rounded-lg text-amber-400 border-2 border-amber-400 bg-white transition-all duration-100 [box-shadow:5px_5px_rgb(251_191_36)] active:translate-x-[3px] active:translate-y-[3px] active:[box-shadow:0px_0px_rgb(251_191_36)];
  }

  /* introduction */
  .intro-section {
    @apply mt-10 px-2 py-3 flex flex-col items-center mx-auto rounded-lg border-amber-400 border-4 w-2xs sm:w-md lg:w-xl xl:w-2xl 2xl:w-3xl;
  }

  .header-img-container {
    @apply w-xs sm:w-full;
  }

  .header-img {
    @apply w-3xs sm:w-full mx-auto h-auto object-cover rounded-lg transition duration-300 ease-in-out border-amber-400 border-3 outline-amber-100;
  }

  .intro-head {
    @apply w-3xs sm:w-full flex flex-col items-center bg-white px-3 pb-3 rounded-lg border-amber-400 border-3 mt-3;
  }

  .welcome {
    @apply font-righteous text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold leading-15 lg:leading-17 xl:leading-20 text-center bg-linear-to-r from-amber-400 to-red-500 text-transparent bg-clip-text;
  }

  .name {
    @apply text-center text-pretty sm:text-base md:text-lg lg:text-xl xl:text-2xl;
  }

  .solar {
    @apply font-righteous bg-linear-to-r from-amber-400 to-red-500 text-transparent bg-clip-text font-bold;
  }

  .walker {
    @apply text-[#CBFBFB] [text-shadow:0.5px_0.5px_0.5px_#00e4ff] font-semibold font-cinzel;
  }

  .main-intro {
    @apply bg-white w-3xs sm:w-full items-center p-4 rounded-lg border-amber-400 border-3;
  }

  .intro-nav {
    @apply flex gap-1 sm:gap-3 lg:gap-4 xl:gap-5;
  }

  /* socialicons */
  .social-icons {
    @apply flex gap-4 justify-center mt-5;
  }

  .icon {
    @apply text-[30px] lg:text-[50px] text-gray-600 transition-colors duration-300 ease-in-out;
  }

  .icon:hover {
    @apply text-amber-400;
  }

  .youtube {
    @apply text-red-600;
  }

  .instagram {
    @apply text-[#e4405f];
  }

  .discord {
    @apply text-[#7289da];
  }

  .roblox {
    @apply text-black;
  }

  /* cats and others */
  .pagination {
    @apply flex justify-center gap-3;
  }

  .btn {
    @apply font-righteous relative inline-flex h-8 md:h-10 lg:h-12 items-center justify-center overflow-hidden my-5 rounded-md bg-amber-500 w-20 lg:w-30 font-medium md:font-bold text-sm md:text-base lg:text-xl text-white hover:text-orange-50 hover:bg-amber-600 cursor-pointer transition-all duration-300 hover:scale-110;
  }

  .btn-group {
    @apply flex flex-wrap justify-evenly gap-3;
  }

  .reversed-btn-group {
    @apply flex-wrap-reverse;
  }

  .pagination-page {
    @apply flex justify-center my-auto rounded-lg bg-amber-500 h-8 md:h-10 lg:h-12 align-middle items-center px-2 md:pl-0 md:pr-2;
  }

  .page-input {
    @apply w-10 font-righteous text-center md:text-end text-white font-bold text-base lg:text-xl bg-transparent rounded-md;
  }

  .page-count-container {
    @apply grid place-items-center w-10 lg:w-15;
  }

  .page-count {
    @apply text-white font-bold text-base lg:text-xl font-righteous;
  }

  .card-container {
    @apply flex flex-wrap justify-center gap-4 mx-2;
  }

  .zoom-modal {
    @apply fixed top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.8)]
      flex items-center justify-center z-[1000];
  }

  .zoomed-image {
    @apply max-w-[75%] max-h-[75%] sm:max-w-[83%] sm:max-h-[83%] md:max-w-[95%] md:max-h-[95%] rounded-lg;
  }

  .zoom-arrow {
    @apply absolute w-10 h-10 md:w-15 md:h-15 lg:w-15 lg:h-15 xl:w-18 xl:h-18 top-1/2 -translate-y-1/2 bg-amber-50 border-none 
      text-3xl md:text-5xl lg:text-5xl xl:text-6xl flex items-center justify-center p-1 cursor-pointer rounded-full transition-all duration-300;
  }

  .zoom-arrow.left {
    @apply left-1 sm:left-2 lg:left-3 xl:left-5;
  }

  .zoom-arrow.right {
    @apply right-1 sm:right-2 lg:right-3 xl:right-5;
  }

  .zoom-arrow:hover {
    @apply bg-amber-400;
  }

  /* home */
  .home-text {
    @apply text-balance mx-auto w-2xs sm:w-md lg:w-xl xl:w-2xl 2xl:w-3xl text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl px-2 text-center bg-white py-3 rounded-lg border-amber-400 border-3 mt-3;
  }

  /* intro */
  .list-title {
    @apply font-righteous leading-10 text-pretty xl:leading-12 text-center text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl font-semibold bg-linear-to-r from-amber-400 to-red-500 text-transparent bg-clip-text inline-block;
  }

  .skull {
    @apply text-white;
  }

  .list-container {
    @apply list-image-[url(/solar_emblem_list_style.png)] list-inside;
  }

  .list-item {
    @apply flex text-pretty text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl;
  }

  .list-link {
    @apply hover:text-amber-400 hover:font-bold;
  }

  /* layout */
  .line-container {
    @apply flex justify-center;
  }

  .line {
    @apply mt-20 mb-10 w-2xs sm:w-xl md:w-2xl lg:w-4xl xl:w-6xl 2xl:w-7xl border-amber-400 border-t-4 border-dashed opacity-25;
  }
}
